@import "tailwindcss";

:root {
  /* Colors */
    --background: #ffffff;

  --bg-light: #EFEFEF;
  --bg-dark: #D8D8D8;
  --bg-ternary: #a18a68
  --text-primary: #000000;
  --text-secondary: #A18A68;
  --text-ternary: #707070;

  --text-heading: 24px;
  --text-subheading: 18px;
  --text-body: 16px;
  --text-meta: 14px;
  --text-small: 12px;

  /* Font Family */
  --font-poppins: "Poppins", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font-poppins);
}


.bg-light {
  background-color: var(--bg-light);
}

.bg-dark {
  background-color: var(--bg-dark);
}
.bg-ternary {
  background-color: var(--bg-ternary);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-ternary {
  color: var(--text-ternary);
}

.text-heading {
  font-size: var(--text-heading);
}

.text-subheading {
  font-size: var(--text-subheading);
}

.text-body {
  font-size: var(--text-body);
}

.text-meta {
  font-size: var(--text-meta);
}

.text-small {
  font-size: var(--text-small);
}